.outer-box{
	width: 200px;
	height: 200px;
	/*padding: 10px;*/
	/*padding: 10px 25px;*/
	padding: 10px 25px 0px 100px;
	border: 2px solid indigo;
	margin: 20px;
}

#special-div{
	padding-left: 200px;
	border-top: 10px dashed aqua; 
}

.special-outer-box{
	border: 1px solid black;

}

.inner-p{
	border: 1px solid purple;
	padding: 2px;
	display: inline-block;
	
	
}