body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 48px;
}

.container {
  min-height: 400px;
  margin: 5px;
  padding: 10px;
  border: 4px solid black;

  display: flex;
  /*flex-direction: column-reverse;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.box {
  background-color: #81d07d;
  /*max-width: 200px;*/
  min-width: 200px;
  height: 200px;
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid black;

  flex-grow: 1;
  flex-basis: 200px;

}

.bigger{
  flex-grow: 6;
}
